version: '1.0.{build}'
image: Visual Studio 2017
configuration: Release
branches:
  only:
    - master
init:
# Good practise, because Windows line endings are different from Unix/Linux ones
  - cmd: git config --global core.autocrlf true
install:
# Install repo specific stuff here
before_build:
# Display .NET Core version
  - cmd: dotnet --version
# Display minimal restore text
  - cmd: dotnet restore ./uGraph.sln --verbosity m
#build_script:
# output will be in ./src/bin/debug/netcoreapp1.1/publish
#  - cmd: dotnet publish ./uGraph.sln
after_build:
# For once the build has completed
# artifacts:
#  - path: '\src\bin\Debug\netcoreapp2.0\publish'
# name: uGraph
# type: WebDeployPackage
# clone_depth: 1
# before_test:
#   - echo Starting Tests
#test:
#  assemblies:
#    only:
#      - '**\*.Test.dll'
#  categories:
#    except:
#      - Ignore
# after_test:
#   - echo Tests finished
# test_script:
  # - cmd: %xunit20%\xunit.console 'C:\projects\ugraph\uGraph.Test\bin\Release\netcoreapp2.0\uGraph.Test.dll' -appveyor
on_finish :
# any cleanup in here
# deploy: off
